body {
    font-family: sans-serif;
    background-color: aquamarine;
}
header{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.sign {
    justify-items: center;
    margin-left: 50px;
}

.top_menu {
    display: flex;
    margin-right: 50px;
}
.top_menu h2 {
    margin: 10px;
}

.side_content {
    float:right;
}
main {
    background-color: salmon;
}
#into {
    display: flex;
}
li {
    text-decoration-style: none;
}
